*{
  border:0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(111, 47, 47);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  color:aliceblue;
  font-size: 15px;
  font-weight:600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
