.search {
  width: 60%;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 40px;
  margin-top: 40px;
}
.search > input {
  background-color: aliceblue;
}
.search > img{
background-color: aliceblue;
}
